<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryXpert</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/orderStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryXpert.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container">
                <!-- TODO: Replace the text with our company logo?

                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="logo.png" alt="InventoryXpert Logo" style="height: 30px;">
                </a>
                -->
                <a id="brand" class="navbar-brand" asp-area="" asp-page="/Index">InventoryXpert</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="nav-home" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-view" class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-view" class="nav-link" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-view" class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav-view" class="nav-link" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                        </li>
                        <!--<li class="nav-item">
                            <a id="nav-edit" class="nav-link" asp-area="" asp-page="/Edit">Edit</a>
                        </li>-->
                        <!-- Temporarily removing Privacy from navigation bar

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        -->
                    </ul>
                </div>
                <div id="login-status-styles">
                <!--Added partial to display _LoginPartial for login information-->
                <partial name="_loginpartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Added new footer for copyright info -->
    <footer class="footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - InventoryXpert - All rights reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>