.btn-primary {
    background-color: #5cacfa;
    border: none;
}

.btn-display {
    background-color: #5cacfa;
    color: white;
    border: none;
    display: block;
    margin-top: 8px
}

.btn-color {
    background-color: #5cacfa;
    color: white;
    border: none;
}

#register, 
#forgot-password, 
#resend-confirmation {
    background-color: #5cacfa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 13px;
}

#forgot-password {
    display: block;
    margin-top: 8px;
    width: 190px;
}

#register:hover,
#forgot-password:hover,
#resend-confirmation:hover,
.btn-display:hover,
.btn-color:hover {
    background-color: gold;
    color: black;
}

#login-submit {
    margin-bottom: 15px;
}

.nav-pills .nav-link.active {
    background-color: #5cacfa;
}

.nav-pills .nav-link {
    color: #a5b8cc;
}

.authSteps {
    background-color: #5cacfa;
    text-decoration: none;
    border-radius: 2px;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}