.button {
    background-color: #5cacfa;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-create {
    padding: 10px 20px;
}

.row {
    position: relative;
    margin-bottom: 20px;
    margin-top: 40px;
}

#homeCreate {
    display: inline-block;
}

#searchInput {
    width: 25%;
    float: right;
    display: inline-block;
    height: 100%;
}

.btn-dataOptions {
    padding: 2px 4px;
}

.btn-back {
    padding: 8px 17px;
    margin-top: 10px;
    display: block;
    width: 115px;
}

.btn-details {
    padding: 8px 17px;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    padding: 7px 17px;
}

.btn-create:hover, 
.btn-dataOptions:hover, 
.btn-save:hover, 
.btn-back:hover, 
.btn-details:hover {
    background-color: gold;
    color: black;
    /*font-weight: bold;*/
}

.btn-delete:hover {
    background-color: #c7303f;
}
