@*@page*@
@*@model IndexModel*@
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SigninManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

@if (User.IsInRole("Admin"))
{
    <div class="alert alert-info" role="alert">
        Welcome Admin!
    </div>
}
else if (User.IsInRole("User"))
{
    <div class="alert alert-info" role="alert">
        Welcome User!
    </div>
}

<section class="hero">
    <div class="container">
        <h2>Streamline Your Inventory Management with InventoryXpert</h2>
        <p>Tailored Solutions for Small Businesses</p>
        <a class="button btn-details" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
    </div>
</section>

<section class="features">
    <div class="container">
        <ul class="feature-list">
            <li class="feature">
                <h3>Real-time Inventory Tracking</h3>
                <p>Easily monitor inventory levels in real-time.</p>
            </li>
            <li class="feature">
                <h3>Inventory Management</h3>
                <p>Efficiently manage your stock of items and orders.</p>
            </li>
            <li class="feature">
                <h3>Affordability</h3>
                <p>Our services are free of charge. You can create a free account anytime and get started instantly.</p>
            </li>
            <li class="feature">
                <h3>Interface</h3>
                <p>We offer a easy to use interface to optimize user experience. Easily navigate around the website with ease.</p>
            </li>
            <!-- Add more features here -->
        </ul>
    </div>
</section>


@* <div class="text-center">
    <h1>Welcome to InventoryXpert</h1>
    <p>This is the home page content...</p>
</div> *@

