@model InventoryXpert.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockedQuantity" class="control-label"></label>
                <input asp-for="StockedQuantity" class="form-control" />
                <span asp-validation-for="StockedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableQuantity" class="control-label"></label>
                <input asp-for="AvailableQuantity" class="form-control" />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnOrder" class="control-label"></label>
                <input asp-for="QuantityOnOrder" class="form-control" />
                <span asp-validation-for="QuantityOnOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagA" class="control-label"></label>
                <input asp-for="TagA" class="form-control" />
                <span asp-validation-for="TagA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagB" class="control-label"></label>
                <input asp-for="TagB" class="form-control" />
                <span asp-validation-for="TagB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagC" class="control-label"></label>
                <input asp-for="TagC" class="form-control" />
                <span asp-validation-for="TagC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagD" class="control-label"></label>
                <input asp-for="TagD" class="form-control" />
                <span asp-validation-for="TagD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagE" class="control-label"></label>
                <input asp-for="TagE" class="form-control" />
                <span asp-validation-for="TagE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
